doctype html
html
  head
    title Recipe App
    link(rel="stylesheet" href="/style.css")
  body
    h1 Recipe App

    form(action='/search' method='POST')
    
      input(type='text' name='query' placeholder='Search for recipes')
      select(name='mealType')
        option(value='') Meal Type
        option(value='Breakfast') Breakfast
        option(value='Lunch') Lunch
        option(value='Dinner') Dinner
        option(value='Dessert') Dessert
      select(name='dietaryRestrictions')
        option(value='') Dietary Restrictions
        option(value='None') None
        option(value='Vegetarian') Vegetarian
        option(value='Vegan') Vegan
        option(value='Gluten-free') Gluten-free
      button(type='submit') Search
      a(href='/add') Add a new recipe
    ul  
    each recipe in recipes
      li
        h2
          a(href=`/recipe/${recipe.id}`)= recipe.name
        p= `Ingridients: ${recipe.ingredients}`
        p= `Instructions: ${recipe.instructions}`
        p= `Meal Type: ${recipe.mealType}`
        p= `Dietary Restrictions: ${recipe.dietaryRestrictions}`